version: '3.9'

services:
  backend-faturamento:
    build:
      context: ./backend
      dockerfile: Dockerfile
      args:
        PROJECT: FaturamentoService
    restart: unless-stopped
    environment:
      Servicos__Estoque__BaseUrl: http://backend-estoque:8080
    ports:
      - '5284:8080'
    networks:
      - korp-net

  backend-estoque:
    build:
      context: ./backend
      dockerfile: Dockerfile
      args:
        PROJECT: EstoqueService
    restart: unless-stopped
    ports:
      - '5213:8080'
    networks:
      - korp-net

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    restart: unless-stopped
    depends_on:
      - backend-faturamento
      - backend-estoque
    ports:
      - '80:80'
    networks:
      - korp-net

networks:
  korp-net:
    driver: bridge

